@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.App {
  text-align: center;
}

#root {
  background-color: rgb(243 242 239);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f3f2ef !important ;
}

#main-profile-content {
  margin-top: 100px;
}

#Navbar img {
  height: 35px;
}

#basic-navbar-nav {
  font-size: smaller;
}

#Navbar {
  padding-right: 180px;
  padding-left: 180px;
}

#hidden-navbar {
  display: none;
  padding-right: 180px;
  padding-left: 180px;
  border-top: 1px solid rgb(194, 194, 194);
  background: #eee;
  box-shadow: 0 8px 8px -4px rgb(120, 120, 120);
}

#hidden-navbar-user p {
  color: black;
  font-size: 13px;
}

#hidden-navbar-user span {
  font-size: 13px;
}

#more-button {
  color: rgb(90, 90, 90);
  border: 1px solid rgb(90, 90, 90);
  border-radius: 20px;
}

#more-button:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  border: 2px solid rgb(90, 90, 90);
}

#addprofile-button {
  color: rgb(73, 73, 252);
  font-weight: 500;
  border: 1px solid rgb(73, 73, 252);
  border-radius: 20px;
}

#addprofile-button:hover {
  cursor: pointer;
  background-color: rgb(220, 230, 255);
  border: 2px solid rgb(73, 73, 252);
}

#opento-button {
  color: white;
  background-color: rgb(73, 73, 252);
  border: 1px solid;
  border-radius: 20px;
}

#opento-button:hover {
  cursor: pointer;
  color: rgb(206, 219, 255);
  border: 1px solid rgb(19, 19, 253);
  background-color: rgb(19, 19, 253);
}

#premium {
  color: #bb7309;
  text-decoration: underline;
}

#search-bar {
  width: 400px;
}

#search-bar:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-item {
  color: grey;
  font-size: smaller;
}

#dropdown-user p {
  font-weight: bold;
}

#view-profile-button {
  text-align: center;
  color: rgb(36, 110, 230);
  border: solid 1px rgb(36, 110, 230);
  border-radius: 20px;
}

.dropdown-section {
  font-weight: 500;
}

#basic-nav-dropdown {
  color: grey;
  font-size: small;
  width: 50px;
  background-color: transparent;
  border: 0;
  display: flex;
  padding: 0px;
  padding-top: 8px;
  align-items: end;
}

#work-button {
  color: grey;
  font-size: small;
  width: 50px;
  background-color: transparent;
  border: 0;
  padding: 0px;
  padding-top: 8px;
  align-items: end;
}

#work-button:hover {
  color: #282c34;
}

#basic-nav-dropdown:hover {
  color: rgb(42, 42, 42);
}

.right-dialog-modal {
  position: absolute !important;
  width: 400px !important;
  top: 10%;
  right: 0;
}

#right-modal-body div:hover {
  cursor: pointer;
}

#right-modal-body svg:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px 1px #616160;
}

#right-modal-body div div {
  width: 70px;
}

#right-modal-body p {
  font-size: 13px;
  font-weight: bold;
}

#right-modal-body div span {
  color: grey;
  text-align: center;
  font-size: 12px;
}

#right-modal-footer {
  height: 460px;
}

#right-modal-footer p {
  font-size: 13px;
  font-weight: bold;
}

#right-modal-footer span {
  font-size: 12px;
}

#right-modal-footer div div p {
  font-weight: bold;
  margin-bottom: 0;
}

#right-modal-footer:hover div {
  cursor: pointer;
}

#footer-container {
  color: grey;
  font-size: smaller;
}

#footer-options {
  width: 500px;
}

#footer-options p {
  font-size: 12px;
  width: 150px;
  margin-bottom: 10px;
}

#footer-options p:hover {
  cursor: pointer;
}

#language-button {
  color: grey;
  background-color: transparent;
  border-color: grey;
  width: 350px;
}

.footer-add {
  color: #616160;
}

.profil-holder {
  height: 500px;
  background-color: lightgray;
}

.lp.box-style {
  max-width: 780px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(224 223 220);
  padding-block: 20px;
  padding-inline: 25px;
  padding-bottom: 10px;
  font-size: 0.85rem;
}

.box-h1 {
  font-size: 25px;
  font-weight: 600;
}

.box-h2 {
  font-size: 17px;
  font-weight: 600;
}

.lp-description {
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: 30px;
}

.lp-des-no-margin {
  font-size: 0.85rem;
  font-weight: 500;
}

.icon-style {
  font-size: 22px;
  color: rgb(102 102 102);
}

.eye-lp {
  font-size: 15px;
  margin-right: 5px;
  color: rgb(102 102 102);
}

.bottom-row {
  border-top: 1px solid rgb(224 223 220);
}

.badge-lp {
  background-color: rgb(235 235 235);
}

.lp-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  color: rgb(102 102 102);
  font-weight: 700;
}
.arrow-bottom {
  margin-top: 10px;
}

.creator-mode {
  border-bottom: 1px solid rgb(224 223 220);
}

.lb-about {
  font-weight: 500;
}

.lp-a-tag {
  font-weight: 600;
  color: rgb(12, 87, 162);
}

.experience-logo {
  max-height: 35px;
}

.experience-p {
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: 52px;
  display: block;
  color: rgb(102 102 102);
}

.experience-p-strong {
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: 52px;
  display: block;
  color: black;
}

.education-logo {
  max-height: 35px;
  margin-right: 12px;
}

.start-post {
  font-size: 18px;
  border: 1px solid rgb(12, 87, 162);
  padding-block: 3px;
  padding-inline: 12px;
  border-radius: 30px;
  color: rgb(12, 87, 162);
}

.main {
  margin-top: 2em;
  width: 780px;
  border: 1px solid rgb(224 223 220);
  border-radius: 15px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.profile-pic {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  border: 3px solid white;
}

.suggestions {
  width: 100%;
  /* height: 76.5px; */
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
}
.suggestion,
.first-suggestion {
  min-width: 355px;
  border-radius: 10px;
  height: 76.5px;
}
.suggestion p,
.first-suggestion p {
  margin: 0px;
}
.suggestion {
  border: 1px solid black;
}
.first-suggestion {
  background-color: rgb(227, 223, 216);
}
.button {
  /* height: 20px; */
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
  border: 1px rgb(15, 79, 181) solid !important;
  border-radius: 20px !important;
}
.first {
  color: white !important;
  background-color: rgb(15, 79, 181) !important;
}
.second {
  color: rgb(15, 79, 181);
  background-color: white;
  margin-left: 0.5em;
}
.third {
  border: 1px grey solid;
  color: grey;
  background-color: white;
  margin-left: 0.5em;
}
.side {
  height: 40px;
}
.side-text {
  margin-top: 0.5em;
}
.camera {
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  display: inline;
  margin-right: 2em;
}
.pencil {
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4em;
  right: 0;
}

.pencil:hover {
  cursor: pointer;
}

.open {
  width: 240px;
  border: 1px solid black;
  border-radius: 10px;
}

.more {
  width: 240px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 13.8em;
}
.hover p {
  margin: 0;
}
.hover:hover {
  background-color: grey;
}

.message-box {
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 1px solid rgb(224 223 220);
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.message-img {
  height: 33px;
  border-radius: 30px;
  margin: 7px;
  position: relative;
}

.message-online {
  position: absolute;
  margin: 2px;
  background-color: rgb(4 118 66);
  border: 5px solid rgb(4 118 66);
  bottom: 7px;
  left: 29px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
}

.message-text {
  font-weight: 700;
  font-size: 0.95rem;
  margin-right: 65px;
}

.profile-pic2 {
  height: 152px;
  /* width: 152px; */
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 3em;
  bottom: 0;
  left: 1em;
  right: 0;
}
.upper {
  height: 145px;
  background-image: url(../src/Css/pics/linkedin.webp);
  object-fit: contain;
}

.lower {
  margin-top: 4em;
  margin-bottom: 3em;
}
.modal-text {
  padding-top: 1em;
  color: grey;
  border-bottom: 1px solid grey;
}

.pointer:hover {
  cursor: pointer;
}

#handle {
  background-color: inherit;
  border: none;
}

.card-spacing {
  padding: 1rem 1.5rem;
}

.profiles-container {
  flex-shrink: 0;
}

.sidebar-card {
  background-color: white;
  color: black;
  border: 1px solid #d9d9d8;
  border-radius: 10px;
  cursor: pointer;
  width: 350px;
  margin-top: 52px;
}

.sidebar-card h2 {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  margin-bottom: 15px;
}

.sidebar-card button.btn-outline-secondary {
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid black;
  padding: 3px 16px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.sidebar-card .username {
  color: rgba(0, 0, 0, 0.9) !important;
  line-height: 1;
}

.sidebar-card .profession {
  font-size: 15px;
  line-height: 1;
}

.sidebar-card .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 1px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.feed-container.container {
  margin-top: 100px;
  padding: 0px;
}

.feed-left-sidebar {
  background-color: white;
  width: 228px;
  border-radius: 7px;
  border: 1px solid rgb(224 223 220);
  position: relative;
  font-size: 0.75rem;
}

.left-sidebar-header-img {
  width: 226px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.feed-left-side-profile {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
  height: 60px;
  left: 0;
  right: 0;
  margin: auto;
  top: 25px;
}

.blue-bold {
  color: rgb(10 102 194);
  font-weight: 800;
}

.home-rigthbar-container {
  background-color: white;
  padding: 0 !important;
  width: 300px !important ;
  border-radius: 20px;
}
.home-rigthbar-container button {
  background-color: transparent;
  border: transparent;
  border-radius: 10px;
}
.home-rigthbar-container button:hover {
  background-color: rgb(230, 230, 230);
}
.side-news {
  padding-left: 1em;
  margin-bottom: 1em;
}
.side-news p {
  margin: 0;
}
.side-news small {
  color: grey;
  padding-left: 1em;
}
.side-news:hover {
  background-color: rgb(230, 230, 230);
}
.home-rightbar-footer {
  width: 300px !important ;
}
.home-rightbar-footer small {
  font-size: 13px;
  margin: 0.6em;
  cursor: pointer;
}
.rightbar-link {
  color: grey;
  text-decoration: none;
}
/* .arrowDown{
  margin-left: 9em;
} */
.post-section {
  background-color: white;
  border-radius: 10px;
  width: 580px !important;
  height: 116px;
}

.home-profile-pic {
  height: 48px;
  border-radius: 50%;
}
.post-input {
  border-radius: 20px;
  border: 1px solid black;
  height: 26px;
  width: 80%;
  padding: 22px;
}
.post-input:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.post-section-option {
  border-radius: 10px;
}
.post-section-option:hover {
  background-color: rgb(230, 230, 230);
}
.anyone {
  background-color: transparent;
  border: transparent;
  border-radius: 20px;
}
.anyone:hover {
  background-color: rgb(230, 230, 230);
}
.end-of-modal {
  margin-left: 35%;
}
.post-modal-icons-containe {
  justify-content: center;
}
.post-section-sort {
  width: 580px !important;
}
.line {
  display: inline-block;
  width: 80%;
  height: 1px;
  background-color: black;
}
.top-recent {
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  width: 100px;
  overflow: hidden;
}
.top-recent p {
  margin-left: 1em;
  width: 100%;
}
.top-recent p:hover {
  background-color: rgb(230, 230, 230);
}
.picture-video {
  height: 200px;
  text-align: center;
}
@media only screen and (max-width: 902px) {
  .feed-right-bar-container {
    display: none;
  }
}
.feed-container {
  margin-top: 100px;
}
.plus-left-sidebar {
  font-size: 1.5rem;
}
